<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution" xmlns:tools="http://schemas.android.com/tools"
          package="com.nakulov.exhentai">

    <dist:module dist:instant="true"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_round"
            android:supportsRtl="true"
            tools:ignore="GoogleAppIndexingWarning"
            android:name=".presentation.ExApplication"
            android:theme="@style/AppTheme">
        <activity android:name=".presentation.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>